.image-thumbnail-wrapper {
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #ddd;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;

  video,
  img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    background: none;
  }

  p {
    text-align: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    width: 250px;
    border-top: 1px solid #ccc;
  }
}
